gameid = ${game_id}
world_name = ${world_name}
backend = sqlite3
player_backend = sqlite3
auth_backend = sqlite3
creative_mode = ${creative_mode}
enable_damage = ${enable_damage}
server_announce = false
